      <div class="window-modal" id="notebook-window" style="display: none">
        <div class="window-header" id="notebook-header">
          <div class="window-controls">
            <span class="control-btn close-btn"></span>
            <span class="control-btn min-btn"></span>
            <span class="control-btn max-btn"></span>
          </div>
          <div class="window-title">— hakien's notebook</div>
          <div class="window-close-right" id="close-notebook">✕</div>
        </div>
        <div class="window-body">
          <div class="notebook-sidebar">
            <div class="sidebar-title">notes</div>
            <ul class="note-list"></ul>
          </div>
          <div class="notebook-content"></div>
        </div>
      </div>
